.cartWrap {
    position: fixed;
    top: 10px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    width: 80px;
    right: 16px;
    background-color: hsl(242deg 100% 50% / 64%);
    align-items: center;
    justify-content: center;
    transition: 125ms ease-in-out;
}

.cartWrap:hover {
    background-color: rgba(8, 0, 255, 0.924);
    cursor: pointer;
}

.amountCounter {
    background-color: rgb(255, 0, 0);
    color: white;
    position: absolute;
    border-radius: 100%;
    top: 0;
    height: 24px;
    width: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-block-end: 0;
    margin-block-start: 0;
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.4rem;
}